body{
    text-align: center;
    background-color: burlywood;
}
label{
    text-align: left;
    font-family: monospace;
    font-size: 40px;
}
input{
    background-color: floralwhite; 
    line-height: 30px;
    width: 300px;
    text-transform: capitalize;
    /* font-size:20px; */
}
button{
    font-family: monospace;
    font-weight: 600;
    border-radius: 10px; 
    font-size: 30px; */

}
